<html>
<head>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
<link rel="stylesheet" href="/css/helpers-demo.css">
</head>
<body>
<div id="header">
<%if authenticated? %>
<%= erb :_logged_in %>
<%else%>
<%= erb :_logged_out %>
<%end%>
</div>
<div id="main">
<%= yield %>
</div>
</body>
</html>
